.vision-titles-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 6%;
    
    & h1,
    & h2 {
        margin: 0;
    }
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vision-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-bottom: 100px;
}

.vision-first-image {
    width: 54%;
    height: 100%;
    object-fit: contain;
}

.vision-image-text {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    & .buy-vision-button {
        font-size: 10vh;
        font-weight: bold;
        color: #FF5A00;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.vision-image-fig {
    font-size: 3.5vw;
    letter-spacing: -1px;
    margin: 1rem;
}

.watch-youtube-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & h1 {
        font-size: 46px;
        line-height: 1.08;
        font-weight: 700;
        letter-spacing: -0.035em;
        text-align: center;
        padding: 30px;
    }

    & .watch-youtube-video-button {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.21;
        letter-spacing: .012em;
        text-decoration: none;
        background-color: transparent;
        color: #FF5A00;
        border: 3px solid #FF5A00;
        border-radius: 30px;
        min-width: 30px;
        padding: 18px 36px;
        margin-bottom: 180px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #FF5A00;
            color: white;
        }
    }
}

.category-vision-video {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.vision-pro-title {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -.012em;
    margin-bottom: 180px;
}

.vision-closer-image {
    margin-bottom: 180px;
}

.functionality-section-articles {
    font-weight: bold;

    & .section-name {
        text-align: center;
        padding-top: 150px;
        margin-bottom: -66px;
    }

    & .section-title {
        text-align: center;
    }

    .articles-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        margin-top: 66px;
        text-align: center;

        & .box-subtitle {
            width: 54%;
            font-size: 31px;
            line-height: 1.24;
            font-weight: bold;
        }

        & .box-p {
            width: 66%;
            font-size: 20px;
            line-height: 1.38;
            font-weight: bold;
            color: #86868B;
            margin-bottom: 80px;
        }
    }
}

.entertainment-container,
.photos-and-videos-container,
.apps-category-container,
.design-container {
    background-color: #F5F5F7;
}

.design-titles-box {
    text-align: center;

    & .typography {
        width: 75%;
        font-size: 22px;
        line-height: 1.33;
        font-weight: bold;
        letter-spacing: .009em;
        text-align: center;
        color: #86868b;
        margin: 0 auto;
    }
}
.super-img-description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 0px 96px;
    margin: 20px 0px 0px 90px;
    gap: 20px;
}

.descriptions-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 21rem;
    margin-top: 140px;
}

.description-item .description-p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: .011em;
    color: #86868b;
    margin: 0;
}

.description-item .description-p-span {
    font-weight: bold;
    color: #1D1D1F;
}

.image-side-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.side-image {
    width: 100%;
    height: 100%;
}

.top-angle-container {
    margin-top: 120px;
    text-align: center;

    & p {
        width: 80%;
        font-size: 21px;
        line-height: 1.33;
        font-weight: bold;
        text-align: center;
        color: #86868b;
        margin: 0 auto;
        margin-bottom: 120px;

        & .top-angle-span {
            color: #1D1D1F;
        }
    }
}

.top-angle-img-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.top-image {
    display: block; 
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.get-vision-button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    background-color: hsl(21, 100%, 50%);
    color: white;
    border-radius: 30px;
    min-width: 30px;
    padding: 18px 36px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(21, 100%, 40%);
    }

    &:active {
        background-color: hsl(21, 100%, 60%);
    }
}

.technology-section {
    background-color: black;
    margin-top: -4px;

    & h1,
    & h3,
    & span {
        color: white;
        text-align: center;
    }

    & p {
        color: #86868B;
    }
}

.tech-h3 {
    font-size: 24px;
    margin-top: 180px;
    margin-bottom: -40px;
}

.tech-h1 {
    font-size: 80px;
}

.tech-p {
    width: 85%;
    font-size: 23px;
    line-height: 1.33;
    font-weight: 600;
    text-align: center;
    color: #86868b;
    margin: 0 auto;
    margin-bottom: 90px;
}

.tech-h2 {
    font-size: 31px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

.p1 {
    font-size: 20px;
    line-height: 1.381002381;
    font-weight: 600;
    letter-spacing: .011em;
}

.front-image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.front-image-figcaption {
    margin-bottom: 4rem;
}

.front-close-image {
    display: block;
    margin: 0 auto; 
    width: 70%;
    max-width: 70%;
    height: auto; 
}

.spatial-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spatial-image-container,
.big-image-container {
    max-width: 100%;
    overflow: hidden;
}

.spatial-image {
    width: 100%;
    height: auto;
    margin-bottom: 40%;
}

.spatial-text-box {
    position: absolute;
    top: 52%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 30rem;
    color: white;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spatial-h2 {
    font-size: 2rem;
    line-height: 1.325;
    font-weight: 700;
    letter-spacing: .004em;
    margin: 0;
    margin-bottom: 1.5rem;
}

.spatial-p {
    font-size: 1rem;
    line-height: 1.381;
    font-weight: 600;
    letter-spacing: .011em;
    margin: 0;
}

.spatial-p span {
    font-weight: bold;
}

.angle-h2 {
    margin-top: 80px;
}

.angle-p {
    margin-bottom: 180px;
}

.chip-h2 {
    margin-top: -20px;
}

.dual-chip-container {
    text-align: center;
}

.last-vision-buy-button {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: #FF5A00;
    border: 3px solid hsl(21, 100%, 50%);
    border-radius: 30px;
    padding: 18px 36px;
    margin-bottom: 180px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(21, 100%, 50%);
        color: white;
    }
}

.design-h2 {
    margin-top: 180px;
    margin-bottom: -40px;
}

.front-image-container,
.vision-closer-image-box,
.top-angle-container,
.front-image-box {
    width: 100%;
    margin: 0 auto;
}

.inside-image,
.front-down-image,
.vision-closer-image,
.front-image,
.dual-chip-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media Query for Responsive */

@media (max-width: 1321px) {

    .super-img-description-container {
        display: none;
    }
    
    .front-image {
        margin-top: 48px;
    }
}

@media (max-width: 1024px) {

    .spatial-h2 {
        font-size: 2rem;
    }

    .spatial-p {
        font-size: 1rem;
    }
}

@media (max-width: 864px) {

    .vision-image-text .buy-vision-button {
        font-size: 8vh;
    }

    .spatial-text-box {
        max-width: 38%;
        margin-top: 40px;
    }

    .spatial-h2 {
        width: 130%;
        font-size: 1.6rem;
    }

    .spatial-p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {

    .vision-titles-container .section-title{
        font-size: 4.5rem;
    }

    .vision-titles-container .section-second-title {
        font-size: 1.5rem;
    }

    .vision-image-text .buy-vision-button {
        font-size: 7vh;
    }

    .h1-box h1 {
        font-size: 2.25rem;
    }

    .category-container .section-title {
        font-size: 3.25rem;
        margin-top: 110px;
    }

    .category-container .box .box-p {
        font-size: 1rem;
    }

    .category-container .design-titles-box .typography {
        font-size: 1.5rem;
    }

    .tech-h1 {
        padding: 20px;
        font-size: 2.5rem;
    }

    .tech-p {
        font-size: 1rem;
        line-height: 1.65;
    }

    .get-vision-button {
        bottom: 12%;
        font-size: 17px;
        min-width: 20px;
        padding: 16px 26px;
    }

    .vision-pro-title {
        font-size: 2.15rem;
    }

    .spatial-text-box {
        margin-top: 10%;
    }

    .spatial-h2 {
        width: 163%;
    }
}

@media (max-width: 658px) {
    
    .vision-titles-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        & .section-second-title {
            text-align: center;
        }
    }

    .vision-image-text .buy-vision-button {
        font-size: 6vh;
    }

    .h1-box h1 {
        font-size: 2rem;
        padding: 20px;
    }

    .vision-pro-title,
    .vision-closer-image {
        margin-bottom: 100px;
    }

    .category-container .design-titles-box .typography,
    .top-angle-container .typography {
        font-size: 1rem;
    }

    .category-container {

        & .section-title {
            font-size: 2.85rem;
            margin: 74px 12px;
        }

        & .section-name {
            padding-top: 42px;
        }
    }
    
    .category-container .box .box-subtitle,
    .category-container .box .box-p {
        width: 80%;
    }

    .front-image-figcaption {
        font-size: 0.85rem;
    }

    .technology-section {

        & h1 {
            font-size: 2rem;
        }

        & h2 {
            font-size: 1.5rem;
        }
    }

    .spatial-container {
        position: static;
        justify-content: center;
        width: 100%;
    }

    .spatial-text-box {
        display: none;
    }
}

@media (max-width: 634px) {

    .vision-image-text .buy-vision-button {
        font-size: 7.5vh;
        margin-top: -10px;
    }

    .vision-image-container {
        margin-bottom: 36px;
    }

    .h1-box h1 {
        font-size: 1.4rem;
    }

    .get-vision-button {
        bottom: 5%;
        font-size: 15px;
        min-width: 4px;
        padding: 10px 12px;
        margin-bottom: 50px;
    }

    .last-vision-buy-button {
        font-size: 15px;
        min-width: 20px;
        padding: 16px 26px;
        margin-top: -20px;
        margin-bottom: 52px;
    }

    .category-container {

        & .section-title {
            font-size: 2.65rem;
        }

        & .design-h2 {
            margin-top: 32px;
        }
    }

    .technology-container .tech-h3 {
        margin-top: 80px;
    }
}

@media (max-width: 482px) {

    .vision-titles-container {
        margin-top: -18px;

        & .section-title {
            font-size: 3.5rem;
        }

        & .section-second-title {
            font-size: 1.25rem;
        }
    }

    .vision-image-text .buy-vision-button {
        font-size: 6vh;
    }

    .watch-youtube-video-container .watch-youtube-video-button {
        font-size: 17px;
        min-width: 20px;
        padding: 16px 26px;
        margin-bottom: 50px;
    }

    .vision-pro-title,
    .vision-closer-image {
        margin-bottom: 40px;
    }

    .get-vision-button {
        bottom: -6%;
    }

    .category-container .box .box-subtitle,
    .category-container .box .box-p {
        width: 90%;
    }

    .category-container {

        & .section-title {
            font-size: 2rem;
        }

        & .box .box-p {
            margin-bottom: 40px;
        }

        & .design-h2 {
            margin-top: 32px;
        }
    }

    .front-image-figcaption {
        font-size: 0.7rem;
        line-height: 1.5;
    }

    .technology-section {

        & h1 {
            font-size: 1.5rem;
        }

        & h2 {
            padding: 12px;
            font-size: 1rem;
        }

        & h3 {
            font-size: 1rem;
            margin-bottom: 2px;
        }
    }
}

@media (max-width: 380px) {

    .vision-image-text .buy-vision-button {
        font-size: 4vh;
        margin-top: -12px;
    }

    .h1-box h1 {
        font-size: 1rem;
        padding: 10px;
    }

    .watch-youtube-video-container .watch-youtube-video-button {
        font-size: 15px;
        min-width: 12px;
        padding: 10px 16px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .category-container {
        
        & .section-name,
        & .section-second-title {
            font-size: 1rem;
        }

        & .section-title {
            font-size: 2rem;
            margin-bottom: 40px;
        }    
    }

    .category-container .box .box-subtitle,
    .top-image {
        margin-top: -40px;
    }

    .category-container .box .box-p {
        font-size: 0.85rem;
    }

    .get-vision-button {
        bottom: -12%;
    }

    .tech-p {
        font-size: 0.85rem;
        margin-bottom: 40px;
    }

    .spatial-image {
        margin-bottom: 70px;
    }
}

@media (max-width: 356px) {

    .get-vision-button {
        font-size: 12px;
        padding: 5px 10px;
        bottom: -16%;
        font-weight: normal;
    }
}

@media (max-width: 280px) {

    .vision-titles-container {

        & .section-title {
            font-size: 3rem;
        }

        & .section-second-title {
            font-size: 1rem;
        }
    }

    .category-container .section-title,
    .category-container .box .box-subtitle{
        font-size: 1.5rem;
    }

    .category-container .box .box-p {
        font: 0.55rem;
        margin-bottom: 12px;
    }

    .category-vision-video {
        margin-top: -50px;
        margin-bottom: -20px;
    }

    .front-image {
        margin-top: -40px;
    }

    .front-image-figcaption {
        margin-bottom: 32px;
    }

    .category-container .design-titles-box .typography,
    .top-angle-container .typography {
        font-size: 0.75rem;
        text-align: left;
        margin-bottom: 92px;
    }

    .last-vision-buy-button {
        font-size: 15px;
        padding: 8px 16px;
    }
}
