/* Item Total Calculator  Styles */

.item-total-calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: 1px solid purple;
    margin: 8px;
    padding: 18px;
}

.add-to-cart-btn {
    background-color: hsl(210, 100%, 56%);
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsl(210, 100%, 46%);
    }

    &:hover {
        background-color: hsl(210, 100%, 66%);
    }
}