.main-store {
    background-color: #F5F5F7;
    padding: 120px;
    
    & .categories-title {
        font-size: 2.85rem;
        margin-top: -4px;
    }
}

.loading {
    text-align: center;
    line-height: 100vh;
}

.fetch-error {
    font-weight: bold;
    text-align: center;
    color: tomato;
}

.latest-products-title,
.accessories-section-title {
    font-size: 1.75em;
    margin-top: 76px;
    margin-bottom: 48px;
}

.span-title {
    color: #6E6E73;
}