.main-store {
    background-color: #F5F5F7;
    padding: 120px;
    
    & .categories-title {
        font-size: 2.85rem;
        margin-top: -4px;
    }
}

.loading {
    text-align: center;
    line-height: 100vh;
}

.fetchError {
    font-weight: bold;
    text-align: center;
    color: tomato;
}
