.cart-main {
    background-color: #EDEDED;
}

.empty-cart-container {
    width: 43%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 300px auto;

    & .empty-cart-h2 {
        font-size: 2rem;
        text-align: center;
    }

    & .empty-cart-button {
        width: 44%;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.cart-general-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: normal;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 12px;

    .cart-left-side-container {
        width: 60%;
        border-radius: 16px;
        margin: 32px 48px;
    }

    .cart-right-side-container {
        width: 29%;
        border-radius: 16px;
        background-color: white;
    }
}

.item-cart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 16px 16px 0px 0px;

    & .free-shipment {
        color: #00A650;
        margin-left: 42px;

        & .bi {
            margin-left: 4px;
        }
    }

    & .total-products-in-cart {
        text-align: right;
        margin-right: 42px;
    }
}

.cart-products-resume-container {
    width: 100%;
    background-color: white;
}

.cart-item-link {

    &:hover .cart-name {
        text-decoration: underline;
    }
}

.item-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 32px;

    & .cart-column {
        padding: 0 10px;
    }

    & .cart-image {
        width: 74px;
        height: 74px;
        object-fit: contain;
        object-position: center;
    }

    .cart-details {
        margin-left: -10rem;
    }

    & a {
        color: #1D1D1F;
    }

    & .delete-cart-button {
        font-size: 18px;
        color: hsl(210, 83%, 41%);
        background-color: white;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: hsl(210, 83%, 31%);
        }

        &:active {
            color: hsl(210, 83%, 61%);
        }
    }
}

.down-cart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 16px 16px;
    margin-top: -1px;

    & .clear-cart-button {
        font-size: 18px;
        color: tomato;
        background-color: white;
        border: 1px solid tomato;
        border-radius: 6px;
        padding: 12px 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: hsl(9, 100%, 64%);
            color: white;
            border: 1px solid darkred;
        }

        &:active {
            background-color: hsl(9, 100%, 74%);
            color: white;
            border: 1px solid darkred;
        }
    }

    & .cart-total-pay {
        font-size: 22px;
    }
}

.cart-item-subtotal {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 24px;
}

.quantity-unity-container {
    color: #555;
}