/* List's container*/

.color-title-span,
.last-products-span {
    color: #6E6E73;
}

.categories-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 62px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
        text-decoration: underline;
        cursor: pointer;
    }

    & img {
        max-width: 120px;
        height: 78px;
        border-radius: 4px;    
    }

    & h4 {
        text-align: center;
        color: #333;    
        margin: 16px 0 0;
    }

    & a {
        text-decoration: none;
    }
}



