.summary-side-container {
    position: sticky;
    width: 44%;
    background-color: #F5F5F5;
    top: 60px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 48px;
    margin-top: -70px;
    margin-bottom: -70px;
    margin-right: -32px;

    & .summary-title {
        border-bottom: 1px solid lightgray;
        padding-top: 32px;
        padding-bottom: 24px;
    }
}

.summary-side-info-container {
    font-size: 1.11rem;
}

.summary-side-info-container .cart-total-side-container {
    margin-top: 24px;
}

.check-summary-continue-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes loadingAnimation {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}

.confirm-purchase-button {
    position: relative;
    overflow: hidden;
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; 
    max-width: 200px;
    height: 46px;
}

.confirm-purchase-button.loading {
    background: linear-gradient(to right, dodgerblue 50%, white 50%);
    background-size: 200% 100%;
    animation: loadingAnimation 3s linear forwards;
    color: white;
}

.confirm-purchase-button.loading::after {
    content: "Loading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}