.item-detail-container {
    margin: 86px 96px;
}

.product-title {
    font-size: 60px;
    line-height: 1.05;
    letter-spacing: -0.015em;
}

.image-and-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.product-image-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: auto;
    border-radius: 24px;
    margin-bottom: 32px;
}

.product-image {
    width: 300px;
    height: 380px;
    object-fit: scale-down;
}

.product-info-box {
    padding-left: 24px;
}

.product-description {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.product-stock,
.product-year {
    font-size: 1.1em;
    color: #333;
}

.sold-out {
    color: darkred;
    font-weight: bold;
}

.free-shipping {    
    font-weight: bold;
    color: #00A650;
}

.bi-truck {
    font-size: 1.2rem;
}