

.item-detail-container {
    margin: 86px 96px;
    border: 1px solid red;
}

.product-title {
    font-size: 60px;
    line-height: 1.05;
    letter-spacing: -0.015em;
}

.image-and-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 92px;
}

.product-image-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 459px;
    background-color: #F6F5F8;
    border-radius: 24px;
    margin-bottom: 32px;
}

.product-image {
    width: 200px;
    height: 280px;
}

.product-stock {
    font-size: 1.1em;
    color: #333;
}



.technical-details-title {
    margin: 32px 0px 32px 0px;
}

.technical-detail {
    margin-top: 24px;
}