#products-list-section {
    padding: 20px 186px;
}

.products-list {
    padding-left: 0;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    border: 2px solid red;
    padding-left: 24px;

    a {
        color: white;
        text-decoration: none;
    }
}

.product {
    display: flex;
    justify-content:first baseline;
    align-items: center;
    width: 190px;
    height: 440px;
    border: 1px solid snow;
    border-radius: 8px;
    cursor: pointer;

    &:hover .product-name {
        text-decoration: underline;
    }
}

.is-loading {
    text-align: center;
    vertical-align: 100vh;
}

.category-title {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 4em;
}

.img-product {
    width: 190px;
    height: 252px;
    object-fit: contain;
    object-position: center;
    border: 1px solid lime;
}

.product-name {
    text-align: center;
    font-size: 1.5rem;
}

.product-description,
.product-price {
    text-align: center;
    line-height: 1.4705882353;
    font-weight: 400;
}
