.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 44px;
    list-style: none;
    background-color: rgba(22, 22, 23, 0.8);
    margin: 0;
    position: fixed;
    padding-left: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    & a,
    & i {
        font-size: 12px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.8);
        text-decoration: none;
        cursor: pointer;
        
        &:hover {
            color: hsla(0, 0%, 100%, 1.8);
        }

        &:focus {
            color: hsla(0, 0%, 100%, 1.8);
            border: 2px solid dodgerblue;
            border-radius: 4px;
            outline: none;
            padding: 4px;        
        }
    }
}

.nav-menu i {
    font-size: 16px;
}

/* Medias Query for Responsive */

@media (max-width: 400px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 12px;
        background-color: #333;
        line-height: 1.4em;
    
        position: static;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;

        & i {
            font-size: 13px;
        }
    }

    #space-nav {
        display: none;
    }
}