.categories-videos-container {
    margin-top: 30px;
    margin-bottom: 82px;
}

.category-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.accessories-first-image {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}