/* Fonts */

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url("/fonts/SFProText-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-MediumItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Layouts */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFProText', sans-serif;
    width: 100%;
}

footer {
    width: 75%;
    background-color: #F5F5F7;
    color: hsl(0, 0%, 52%);
    padding: 22px 168px;
}

footer a {
    font-size: 14px;
    color: #444445;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.copy {
    font-size: 13px;
}