/* Fonts */

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url("/fonts/SFProText-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-MediumItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Layouts */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFProText', sans-serif;
    color: #1D1D1F;
    width: 100%;
}

.main-page {
    margin: 50px;
}

.section-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -30px;
}

.section-second-title {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.1;
    letter-spacing: .007em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}